/* ==========================================================================
   Julian's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=inconsolata:400,700);

body{
    background: #FEFEFE;
    padding-top: 58px;
    padding-bottom: 20px;
}

html {
  font-family: 'inconsolata', ;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #6aa774;
}


.navbar, .dropdown-menu{
background:rgba(1,35,64,.80);
border: none;
font-family: 'inconsolata', ;

}

.navbar-default {
    background:transparent;
    color: #ffffff;
    border-color: #e7e7e7
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-inverse {
    background:rgba(1,35,64,.80);
    border-color: #080808
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background:transparent;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #012340 5px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #026873 5px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #83A603 5px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #BBBF45 5px solid;
}

.jumbotron {
  padding: 0px 0px;
  margin-top:0px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.cover {
  width: 100%;
}
































